.body0{
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    height: 110%;
    overflow-x: hidden;
}
.container0{
    overflow: hidden;
    }
.container0 .img0{
    margin-right: 4%;
    margin-left: 0px;
    margin-top: 4%;
    float: left;
}
.content0{
    width: 65%;
      height: auto;
      margin-left: 0px;
      margin-top: 4%;
      float: left;
  }
.body0 .container0 .content0 h1{
    margin-top: 0px;
    
}
.body0 .container0 .content0 p{
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
.leaflet-1 h2{
    position: relative;
    color: #233b24;
    float:left;
    width: 400;
}
.leaflet-1{
    margin-bottom: 20px;
}
.leaflet-2 h2{
    position: relative;
    color: #233b24;
    float:left;
    width: 350;
}
.leaflet-1 h2:hover{
    color: #111;
}
.leaflet-2 h2:hover{
    color: #111;
}
.leaflet-1 img:hover{
    opacity: 50%;
}
.leaflet-2 img:hover{
    opacity: 50%;
}